# VinMail account config
defaults
auth           on
tls            on
tls_starttls   {{TLS_STARTTLS}}
tls_trust_file {{TLS_FILE}}
logfile        {{LOGFILE}}

account        default
host           {{HOST}}
port           {{PORT}}
from           "{{NAME}}"
user           {{EMAIL}}
password       PLACEHOLDER
