# VinMail account config
defaults
auth           on
tls            on
tls_starttls   on
tls_trust_file /etc/ssl/certs/ca-certificates.crt

account        default
host           smtp.gmail.com
port           587
from           "Your Name"
user           you@example.com
password       PLACEHOLDER
